#for connectivity
on boot
    setprop ro.connectivity.chiptype ${ro.boot.odm.conn.chiptype}
    setprop ro.connectivity.sub_chiptype ${ro.boot.odm.conn.schiptype}

#start antenna_fpga download
on property:sys.system.serv=up
    write /sys/devices/platform/antennafpga.0/ice40bin_download_dir "start"

on property:sys.system.serv=run
    class_start server
    setprop sys.system.serv up
